
	#uno{
		float: left;
		width: 20%;
		margin: 0.5px;
	}
	#medio{
		float: right;
		width: 80%;
		margin: 0px;
	}

	body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }