.star-rating a {
  display: inline-block;
  color: #95a5a6; /* gris (normal) */
}
.star-rating:hover a {
  color: #f39c12; /* amarillo (seleccionado) */
}
  .star-rating:hover a:hover ~ a {
    color: #95a5a6; /* gris (normal) */
  }
 .star-rating {
  $size: 20px;
  $normal: #95A5A6;
  $selected: #F39C12;
  
  display: inline-block;
  
  a {
    float: right;
    width: $size;
    height: $size;
    line-height: $size;
    font-size: $size;
    color: $normal;
    text-decoration: none;
    text-align: center;
    transition: color .3s;
    
    &:hover {
      color: $selected;
      
      & ~ a {
        color: $selected;
      }
    }
  }

}